# Redlib settings. See https://github.com/redlib-org/redlib/blob/main/.env.example
REDLIB_SFW_ONLY=off
REDLIB_DEFAULT_THEME=dark

# Proxy settings
PROXY_PORT=8080
QUALITY_THRESHOLD=0.55
DECIDER_TIMEOUT=20
DECISION_CACHE_SIZE=512
